docker/testWorkspace/.naturalone/apache-tomcat/webapps/cisnatural/cisnatural/wsdl/natlegacy.xsd

<?xml version="1.0"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.softwareag.com/xci/cisnatural/natlegacy"
           xmlns:pg="http://www.softwareag.com/xci/cisnatural/natlegacy"
           xmlns:ht="http://www.softwareag.com/xci/xciHeaderTrailer" 
           xmlns:dt="http://www.softwareag.com/xci/xciDataTypes" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.softwareag.com/xci/xciDataTypes" schemaLocation="xciDataTypes.xsd"/>
<xs:import namespace="http://www.softwareag.com/xci/xciHeaderTrailer" schemaLocation="xciHeaderTrailer.xsd"/>
<!-- Natural Adapter:  -->
  <xs:complexType name="dataType"><xs:sequence><xs:element name="comboWebIO" minOccurs="0" type="xs:string"/><xs:element name="comboWebIOValid" minOccurs="0" maxOccurs="unbounded" type="pg:comboWebIOValidType"/><xs:element name="styleSheetFold" minOccurs="0" type="xs:boolean"/><xs:element name="styleSheetVisible" minOccurs="0" type="xs:boolean"/><xs:element name="subPageVal" minOccurs="0" type="xs:string"/></xs:sequence></xs:complexType><xs:complexType name="comboWebIOValidType"><xs:sequence><xs:element name="id" minOccurs="0" type="xs:string"/><xs:element name="name" minOccurs="0" type="xs:string"/></xs:sequence></xs:complexType><xs:simpleType name="methodType"><xs:restriction base="xs:string"><xs:enumeration value="onChangeStyle"/><xs:enumeration value="xciClose"/><xs:enumeration value="xciInit"/><xs:enumeration value="xciMethodPost"/><xs:enumeration value="xciMethodPre"/><xs:enumeration value="xciProcessAsDefault"/><xs:enumeration value="xciSetup"/><xs:enumeration value="xciTerminate"/></xs:restriction></xs:simpleType>
  <xs:element name="xdo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ht:header"/>
        <xs:element name="data" type="pg:dataType"/>
        <xs:element ref="ht:trailer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
